<div class="right" *ngIf="laundrys">

        <h3>Laundry Order Details</h3>
        <ul>
            <li (click)="delLaundry(i)" *ngFor="let laundry of laundrys | async; let i = index">
                <p>loads: {{ laundry.loads }}</p>
                <p>detergent: {{ laundry.detergent }}</p>
                <p>washTemperature: {{ laundry.washTemperature }}</p>
                <p>dryTemperature: {{ laundry.dryTemperature }}</p>
                <p>starch: {{ laundry.starch }}</p>
                <p>package: {{ laundry.package }}</p>
                <p>instructions: {{ laundry.instructions }}</p>
            </li>
        </ul>
    
    </div>