/* Blues */
.co-blue {
  color: #004977;
}
.bg-co-blue {
  background-color: #004977;
}

.co-dark-blue {
  color: #003362;
}
.bg-dark-co-blue {
  background-color: #003362;
}

.co-light-blue {
  color: #336D92;
}
.bg-light-blue {
  background-color: #336D92;
}

/* Red */
.co-red {
  color: #D03027;
}
.co-bg-red {
  background-color: #D03027;
}

/*Accent Colors*/
.accent-blue {
  color: #018BBB;
}
.bg-accent-blue {
  background-color: #018BBB;
}

.accent-dark-blue {
  color: #0D74AF;
}
.bg-accent-dark-blue {
  background-color: #0D74AF;
}

.accent-light-blue {
  color: #019ED5;
}
.bg-accent-light-blue {
  background-color: #019ED5;
}

.accent-lighter-blue {
  color: #97D6ED;
}
.bg-accent-lighter-blue {
  background-color: #97D6ED;
}

.accent-lightest-blue {
  color: #E2F4FE;
}
.bg-accent-lightest-blue {
  background-color: #E2F4FE;
}

/* green */
.accent-green {
  color: #0EA218;
}

.bg-accent-green {
  background-color: #0EA218;
}

.accent-dark-green {
  color: #128020;
}

.bg-accent-dark-green {
  background-color: #128020;
}

.accent-light-green {
  color: #0DAD0C;
}

.bg-accent-light-green {
  background-color: #0DAD0C;
}

.accent-lightest-green {
  color: #10BD1B;
}

.bg-accent-lightest-green {
  background-color: #10BD1B;
}

/* yellow */
.accent-yellow {
  color: #FFDC24;
}

.bg-accent-yellow {
  background-color: #FFDC24;
}

.accent-dark-yellow {
  color: #F8CC01;
}

.bg-accent-dark-yellow {
  background-color: #F8CC01;
}

.accent-light-yellow {
  color: #FFE34F;
}

.bg-accent-light-yellow {
  background-color: #FFE34F;
}

/* neutral colors */
.charcoal {
  color: #273B49;
}
.bg-charcoal {
  background-color: #273B49;
}

.dark-charcoal {
  color: #011728;
}
.bg-dark-charcoal {
  background-color: #011728;
}

.light-charcoal {
  color: #687680;
}
.bg-light-charcoal {
  background-color: #687680;
}

.lighter-charcoal {
  color: #AEB5BB;
}
.bg-lighter-charcoal {
  background-color: #AEB5BB;
}

.lightest-charcoal {
  color: #C9CED2;
}
.bg-lightest-charcoal {
  background-color: #C9CED2;
}


.gray {
  color: #DCD8DB;
}
.bg-gray {
  background-color: #DCD8DB;
}

.dark-gray {
  color: #CFCCCF;
}
.bg-dark-gray {
  background-color: #CFCCCF;
}

.light-gray {
  color: #E8E4E7;
}
.bg-light-gray {
  background-color: #E8E4E7;
}

.light-gray-2 {
  color: #F4F0F3;
}
.bg-light-gray-2 {
  background-color: #F4F0F3;
}

.lightest-gray {
  color: #FAF8F9;
}
.bg-lightest-gray {
  background-color: #FAF8F9;
}

.lightest-gray-2 {
  color: #F7F7F7;
}
.bg-lightest-gray-2 {
  background-color: #F7F7F7;
}

.lightest-gray-3 {
  color: #FAFAFA;
}
.bg-lightest-gray-3 {
  background-color: #FAFAFA;
}