/* You can add global styles to this file, and also import other style files */
/*

 */
/* Signature Theming */
@import '~@angular/material/theming';

/* SCSS Custom Theme*/
@import 'styles/theme';

.theme {
  @include angular-material-theme($my-theme
  );
}

/* Signature Colors */

@import 'styles/colors.scss';

html {
    height: 100%;
    color: #222;
    line-height: 1.4em;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 1rem 1rem;
}

/* Prevent scroll on narrow devices */
html, body {
    font-size: 1em;
    height: 100%;
    overflow-x: hidden;
}
